<div class="header">
        <image class="header-logo" src="img/logo.webp" alt="logo" ></image>
        <div class="header-main">
            <p1 class="header-title">SHISHI KHOA HỌC TỰ NHIÊN</p1>
            <div class="header-sidebar" >
                <div class="sidebar-item active ">Trang chủ</div>
                <div class="sidebar-item ">Menu</div>
                <div class="sidebar-item ">Album</div>
                <div class="sidebar-item ">Chọn Chi Nhánh</div>
            </div>


        </div>
        <div class="header-log">
            <a href="#" class="header-log-link">Login</a>
            <a href="#" class="header-log-link">Register</a>
        </div>
    </div>