<div class="container_home-image">
            <img src="img/background-home.png" alt="anhnen">
        </div>
        <div class="container_home-content">
            <div class="home_info">
                <div class="info-header">
                    <image class="info-logo">

                    </image>
                    <h1 class="info-title">THÔNG TIN</h1>
                </div>
                <div class="info-content">
                    <div class="info-text">
                        <h2 class="info-tetx_title">Câu chuyện khởi nghiệp phía sau thương hiệu ShiShi khoa học tự nhiên</p2>
                        <p class="info-tetx_para">Cường – một chàng trai trẻ từ trường Đại học Khoa học Tự nhiên, với niềm đam mê mãnh liệt với phim Nhật và đặc biệt là ẩm thực Nhật Bản, đã sáng lập nên Sushi Đường phố. Ban đầu chỉ là những hộp sushi giá bình dân, Cường đã nhận được sự yêu mến của khách hàng và dần mở rộng thành 11 chi nhánh trên toàn quốc. Đằng sau sự thành công đó là nghị lực phi thường và đam mê ẩm thực cháy bỏng của Cường. Hãy cùng nhìn lại hành trình đầy thử thách nhưng cũng đầy tự hào của Sushi Đường phố nhé!</p>

                    </div>
                    <div class="info-image">
                        <img src="" alt="" class="image_detail">
                    </div>
                </div>
            </div>
            <div class="home_populer">

            </div>
    </div>